@using BugTracker.Helpers
@using Microsoft.AspNet.Identity
@using BugTracker.Models
@using System.IO
@{
    Layout = "~/Views/Shared/_Notauthenticated.cshtml";
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    ApplicationUser user = new ApplicationUser();
    if (userId != null)
    {

        user = db.Users.Find(userId);



    }
}
<div class="col-md-3 col-vlg-3 col-sm-6">
    <div class="tiles red m-b-10">
        <div class="tiles-body">
            <div class="widget-stats">
                <div class="wrapper transparent">
                    <span class="item-title">You Have Not Been Assigned A Role</span>
                    <hr>
                    <a href="@Url.Action("EditProfile","Members", new { userId = user.Id })">Edit Profile</a>
                    <hr>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                    }
                    </div>
            </div>
        </div>
    </div>
</div>

    

        
   
