<appSettings>
  <add key="username" value="jecool17"/>
  <add key="password" value="dratioaaohfkrbus"/>
  <add key="emailfrom" value="jecool17@gmail.com"/>
  <add key="emailto" value="jecool17@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
  <add key ="DefaultAvi" value ="/Uploads/DefaultAvi.jpg"/>
  <add key ="AllowedAttachmentExtensions" value =".pdf,.doc,.docx,.xls,.xlsx,.txt,.xml,.json,.zip"/>
  <add key ="TrackedTicketProperties" value ="Title,Description,TicketPriorityId,TicketStatusId,TicketTypeId,TicketComments,TicketAttachments"/>
  <add key ="TrackedHistoryProperties" value="Title,Description,TicketPriorityId,TicketStatusId,TicketTypeId,AssignedToUserId"/>
  <add key="DemoAdmin" value="DemoAdmin@mailinator.com"/>
  <add key="DemoProjectManager" value="DemoProjectManager@mailinator.com"/>
  <add key="DemoDeveloper" value="DemoDeveloper@mailinator.com" />
  <add key="DemoSubmitter" value="DemoSub@mailinator.com"/>
  <add key="DemoUserPassword" value="PassWord"/>
</appSettings>
